<!DOCTYPE html>
<html>
<body>

<h2>DevOPS for career</h2>
<p>Best Services you must to know in 2021:</p>

<img src="Devops1.jpeg" alt="google.com" width="204" height="242">
<img src="devops-1.jpg" alt="google.com" width="204" height="242">
<img src="EXIN_Badge_Module_Foundation_DevOps.png" alt="google.com" width="204" height="242">

<br>
<font color="brown">Owner of this Server: {{ owner }}<br>
Server Host Name : {{ ansible_hostname }}<br>
Server OS Family is : {{ ansible_os_family }}<br>
IP Address of this server is : {{ ansible_default_ipv4.address }}<br>

</body>
</html>

